@import url("https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap");
.container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.label {
  margin-bottom: 5px;
  font-size: 14px;
  color: #8b4513;
}

.textarea {
  overflow: hidden;
  resize: vertical;
  width: 100%;
  min-height: 64px;
  padding: 8px;
  border: 2px solid #8b4513;
  background-color: #faf0d9;
  font-size: 14px;
  color: #8b4513;
  background-image: linear-gradient(
    to bottom,
    transparent 13px,
    #8b451373 14px,
    transparent 14px
  );
  background-size: 100% 15px;
  line-height: 15px;
  background-position: 0 10px;
  box-sizing: border-box;

  &:focus {
    outline: none;
    border-color: #8b4513;
  }

  &:focus {
    outline: none;
    border-color: #8b4513;
  }

  &::placeholder {
    color: #8b4513;
    font-style: italic;
    line-height: 15px;
  }
}

.captions {
  display: flex;
  justify-content: center;
  font-size: 8px;
  font-weight: 800;
  color: #8b4513;
  margin-top: -22px;
}

.firstBorder {
  border: 2px solid #8b4513 !important;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  resize: vertical;
}

.lastBorder {
  border: 2px solid #8b4513 !important;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  resize: vertical;
}
