@import url("https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap");

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
  padding: 10px;
  gap: 18px;
  background: rgba(95, 73, 20, 0.082);
}

.sectionTitle {
  margin-top: 0;
  color: #8b4513;
}

.attribute {
  display: flex;
  justify-content: center;

  label {
    font-weight: bold;
    white-space: nowrap;
    font-size: 15cqw;
    margin-top: 5%;
    color: #8b4513;
  }
}

.attributeModifier {
  container-type: inline-size;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  gap: 15px;
  width: 60px;
  height: 80px;
  border-radius: 10px;
  border: 1px solid #8b4513;
  background: #faf0d9;
}
.attributeValue {
  position: relative;
  margin-top: 60px;
  width: 40px;
  height: 30px;
  border: 2px solid #8b4513;
  border-radius: 50%;
  background: #faf0d9;
  text-align: center;
  :focus {
    border: 2px solid #8b4513;
  }
}

.modDisplay {
  font-weight: bold;
}

.statsValue {
  position: absolute;
  &:hover .rightStatBtn,
  &:hover .leftStatBtn {
    opacity: 1;
    visibility: visible;
  }
}
.rightStatBtn,
.leftStatBtn {
  position: absolute;
  top: 65px;
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.2s,
    visibility 0.2s;
}

.rightStatBtn {
  left: 35px;
}
.leftStatBtn {
  right: 35px;
  z-index: 1;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
