.leftPanel {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background: #f5e9c9;
  border: 2px solid #8b4513;
  border-radius: 5px;
  font-family: "MedievalSharp";
}

.skillsHeader {
  text-align: center;
  padding: 8px;
  background: #8b4513;
  color: #faf0d9;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 4px;
  margin-bottom: 15px;

  h3 {
    margin: 0;
  }
}

.skillsContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.skillRow {
  display: flex;
  align-items: flex-end;
  cursor: pointer;
  transition: background-color 0.2s;

  &:hover {
    background-color: rgba(200, 180, 140, 0.3);
  }

  &:last-child {
    border-bottom: none;
  }
}

.skillCheckbox {
  margin-right: 3px;

  .checkCircle {
    width: 10px;
    height: 10px;
    border: 1px solid #8b4513;
    border-radius: 50%;
    margin-bottom: 2px;
    background: #faf0d9;
    position: relative;

    // точка внутри кружка
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 10px;
      height: 10px;
      background: #5c2d0a;
      border-radius: 50%;
      opacity: 0;
      transition: opacity 0.2s;
    }

    // Показываем точку при добавлении класса selected
    &.selected::after {
      opacity: 1;
    }
  }
}

.skillModifier {
  font-size: 12px;
  color: #5c2d0a;
  font-weight: bold;
  border-bottom: 1px solid #c0a080;
  min-width: 19px;
  margin-right: 5px;
}

.skillName {
  font-size: 12px;
  color: #5c2d0a;
}
